.container {
    margin: auto;
    padding-left: 12px;
    padding-right: 12px;
    max-width: 620px;
}

@media(min-width: 1024px) {
    .container {
        margin: auto;
        max-width: 1200px;
    }
}