.font-playfair-600 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.font-playfair-700 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.font-playfair-800 {
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.font-commissioner-100 {
    font-family: "Commissioner", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
}

.font-commissioner-300 {
    font-family: "Commissioner", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.font-commissioner-400 {
    font-family: "Commissioner", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.font-commissioner-500 {
    font-family: "Commissioner", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.font-commissioner-600 {
    font-family: "Commissioner", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.font-commissioner-700 {
    font-family: "Commissioner", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}