.header__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    padding-top: 4px;
    padding-bottom: 12px;
}

.header__nav {
    margin-top: 24px;
    width: 100%;
}

@media (min-width: 1024px) {
    .header__body {
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    .header__btn {
        display: none;
    }

    .header__nav {
        margin: 0;
    }
}